li.bid(data-id='mock-bid')
  div(name='comment-3zO0Lm2J')
    .username
      .photo.float-left
        a.usericon(title='xtcv' href='/user/xtcv')
          img(src='' alt='xtcv')
      .text
        span.text-wrap
          a.user(title='xtcv' href='/user/xtcv') xtcv
        svg.verified(width='17' height='17' fill='none' xmlns='http://www.w3.org/2000/svg' aria-labelledby='v-3zO0Lm2Jxtcvv')
          title#v-3zO0Lm2Jxtcvv Registered Bidder
          path(d='M6.166 1.286c.952-1.715 3.418-1.715 4.37 0l.425.764.84-.24c1.886-.54 3.63 1.205 3.091 3.09l-.24.841.764.425c1.715.952 1.715 3.418 0 4.37l-.764.425.24.84c.54 1.886-1.205 3.63-3.09 3.091l-.841-.24-.424.764c-.953 1.715-3.419 1.715-4.371 0l-.425-.764-.84.24c-1.886.54-3.63-1.205-3.091-3.09l.24-.841-.764-.424c-1.715-.953-1.715-3.419 0-4.371l.764-.425-.24-.84C1.27 3.015 3.015 1.27 4.9 1.81l.841.24.425-.764z' fill='#4AD493')
          path(d='M11.5 6.351l-3.625 4.5L6 9.033' stroke='#0F2236' stroke-linecap='round' stroke-linejoin='round')
        span.rep
          svg.reputation(width='8' height='10' fill='none' xmlns='http://www.w3.org/2000/svg' aria-labelledby='ir-3zO0Lm2Jxtcvr')
            title#ir-3zO0Lm2Jxtcvr Reputation Icon
            path(d='M4 1v8M1 4l3-3 3 3' stroke='#262626' stroke-width='1.25' stroke-linecap='round' stroke-linejoin='round')
          | 1
        span.user-extra
          span.time(data-full='15 hours ago')
            span.abbr 15h
    .content
      dl.placed-bid
        dt Bid
        dd.bid-value #{bidValue}
      .interact
        button.btn.btn-sm.btn-outline-secondary.btn-upvote
          svg.reputation(width='8' height='10' fill='none' xmlns='http://www.w3.org/2000/svg' aria-labelledby='ir-3zO0Lm2Juv')
            title#ir-3zO0Lm2Juv Reputation Icon
            path(d='M4 1v8M1 4l3-3 3 3' stroke='#828282' stroke-width='1.25' stroke-linecap='round' stroke-linejoin='round')
          | 0
